// 1. Configuration and helpers
// @import 'abstracts/variables', 'abstracts/functions', 'abstracts/mixins';
@import 'abstracts/mixins';

// 2. Vendors
@import '~bulma/bulma';

// 3. Base stuff
@import 'base/base', 'base/helpers';

// 4. Layout-related sections
// @import 'layout/header', 'layout/footer';

// 5. Components
@import 'components/search-box', 'components/breadcrumb';

// 6. Page-specific styles
// @import 'pages/home';

// 7. Themes
// @import 'themes/default';
