.search-box {
  background-color: #ffe600;
}

.search-box-contents {
  max-width: 1176px;
  padding-top: 0.75rem;
}

.meli-logo {
  display: block;
  width: 53px;
  height: 36px;
  background: url(../../images/logo/Logo_ML.png) no-repeat;
  background-size: 100%;

  @include highDPI {
    background-image: url(../../images/logo/Logo_ML@2x.png);
  }
}

.search-box-form {
  margin-left: -0.75rem;
}

.search-box-input,
.search-box-button {
  border: none;
  font-size: 18px;
}

.search-box-input {
  box-shadow: none;
  color: #999;
}

.search-box-button {
  background-color: #eee;
}

.search-box-button-icon {
  width: 18px;
  height: 18px;
  background: url(../../images/icons/ic_Search.png) no-repeat;
  background-size: 100%;

  @include highDPI {
    background-image: url(../../images/icons/ic_Search@2x.png);
  }
}
