.search-box {
  background-color: #ffe600;
}

.search-box-contents {
  padding-top: 0.75rem;
}

.meli-logo {
  display: block;
  width: 53px;
  height: 36px;
  background: url(../../images/logos/meli.png) no-repeat;
  background-size: 100%;

  @include highDPI {
    background-image: url(../../images/logos/meli@2x.png);
  }
}

.search-box-form {
  margin-left: -0.75rem;
}

.search-box-input,
.search-box-button {
  border: none;
  font-size: 18px;
}

.search-box-input {
  box-shadow: none;
  color: #333;

  &::placeholder {
    color: #999;
  }
}

.search-box-button {
  background-color: #eee;
}

.search-box-button-icon {
  width: 18px;
  height: 18px;
  background: url(../../images/icons/search.png) no-repeat;
  background-size: 100%;

  @include highDPI {
    background-image: url(../../images/icons/search@2x.png);
  }
}
