html,
body {
  height: 100%;
}

body,
input {
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  min-height: 100%;
  background-color: #eee;
}

.unstyled {
  list-style: none;
}

.section-container {
  background-color: #fff;
  border-radius: 4px 4px 0 0;
}
